name = "econ-toolchain"
version = "0.0.1"

[build]
auto-executables = false
auto-tests = false
auto-examples = false
link = "openblas"

[install]
library = true

[dependencies]
stdlib = { git="https://github.com/fortran-lang/stdlib", branch="stdlib-fpm" }
simulated-annealing = { git="https://github.com/jacobwilliams/simulated-annealing.git" }

[library]
source-dir="src/"

[[ test ]]
name="root-finding-single-test"
source-dir="test/"
main="root_finding_single_test.f90"

[[ test ]]
name="root-finding-mult-test"
source-dir="test/"
main="root_finding_mult_test.f90"

[[ test ]]
name="static-opt-test"
source-dir="test/"
main="static_opt_test.f90"

[[ test ]]
name="tauchen-test"
source-dir="test/"
main="tauchen_test.f90"

[[ test ]]
name="markov-test"
source-dir="test/"
main="markov_test.f90"

[[ test ]]
name="io-test"
source-dir="test/"
main="io_test.f90"

[[ test ]]
name="global-opt-test"
source-dir="test/"
main="global_opt_test.f90"
